<div class="card m-3 p-3" >
    <form action="/users/create-password" method="post">
        <div class="mb-3">
            <label for="password_1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password_1" placeholder="Password" required>
        </div>
        <div class="mb-3">
            <label for="password_2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" id="password_2" placeholder="Confirm Password" required>
        </div>
        <div class="mb-3 d-flex flex-row-reverse justify-content-around">
            <button type="submit" class="btn btn-dark">Create Password</button>
        </div>
    </form>
</div>