<div class="m-3 p-3" style="border: 5px solid black; border-radius: 10px">
    <h1 class="card text-dark text-center m-3 p-3"> Your Email has not been verified. Pls Check Your in box to confirm email</h1>
    <div class="text-center">
        <p class="d-inline">If You have not received a mail</p>
        <a class="text-decoration-none d-inline-block" href="/users/email_verification_resend">
            <button class="btn btn-primary">Resend Mail</button>
        </a>
    </div>
</div>