<div class="card m-3 p-3" >
    <form action="/users/generate-password" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
        </div>
        <div class="mb-3 d-flex flex-row-reverse justify-content-around">
            <button type="submit" class="btn btn-dark">Reset Password</button>
        </div>
    </form>
</div>