<h1>Hi, <%= username %> </h1>
<h2>Pls Click on the below link to verify your email</h2>
<a href="http://localhost:8080/users/verify/<%= id%>"><button type="button">Verify Email</button></a>
<h2>If above Button doesn't work click on the below Link</h2>
<p>http://localhost:8080/users/verify/<%= id%></p>